:root{
    --mainColor: pink;
    --secondColor: #006A4E;
    --thirdColor: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: var(--mainColor);
    margin-top: 5%;
    background-image: url("https://images.unsplash.com/photo-1523540939399-141cbff6a8d7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");


}

.container{
    height: 100%;
    width: 400px;
    background: var(--thirdColor);
    border-radius: 20px;


}

h1{
    background: var(--secondColor);
    color: var(--thirdColor);
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 900;
    margin: 0;
    border-top-left-radius:20px;
    border-top-right-radius:20px ;
}

p{
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
}

#totalTip{
    text-align: center;
    font-weight: 900;
    font-size: 2.2rem;
}

#totalTop sup{
    font-size: 1.5rem;
    font-weight: 900;
}

.billAmountInput{
    display: flex;
    justify-content: center;
}

.service{
    display: flex;
    justify-content: center;
}

#serviceSelector{
    padding: 10px;
}

#serviceSelector:focus{
    border: 3px solid var(--secondColor);
    outline:none;
}

.peopleAmountInput{
    display: flex;
    justify-content: center;
}

.peopleAmount{
    padding:10px;
}

.peopleAmount:focus{
    border: 3px solid var(--secondColor);
    outline: none;
}

.billAmount{
    padding: 10px;
}

.billAmount:focus{
    border: 3px solid var(--secondColor);
    outline: none;

}

button{
    display: block;
    margin: 30px auto;
    text-transform: uppercase;
    background: var(--secondColor);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    color: var(--thirdColor);
}

button:hover{
    background: rgb(72, 145, 240);
    border-color: black;
}

button:active{
    position: relative;
    top: 5px;
}


@media(max-width:600px){
    .container{
        height: 100%;
        width: 95%;
        background: var(--thirdColor);
        border-radius: 20px;
    }
}